
# Byte-compiled / optimized / DLL files
__pycache__/

# Local 
txtfiles/

*.txt
*.fits
*.xml
*.reg
*.npy
energy_test_branch.py
cfg/my_config.yaml
plot.py
*hidden.npy
*.png

#Notebooks
.ipynb_checkpoints
