
# Byte-compiled / optimized / DLL files
__pycache__/

# Local 
txtfiles/

*.txt
*.fits
*.xml
*.reg

energy_test_branch.py
cfg/my_config.yaml
plot.py
*hidden.npy
*.png

TOW/
#Notebooks
notebooks/.ipynb_checkpoints
notebooks/TOW*.ipynb
#notebooks/TOW_plots.ipynb
notebooks/*.csv
notebooks/config
