
# Byte-compiled / optimized / DLL files
__pycache__/

# Local 
txtfiles/

*.txt
*.fits
*.xml
*.reg

energy_test_branch.py
cfg/my_config.yaml
plot.py
*hidden.npy
*.png

TOW_evth_works.py
TOW_reads_tables.py
TOW_sums_counts.py
#Notebooks
notebooks/.ipynb_checkpoints
notebooks/TOW_plots.ipynb
